<div class="modal fade" id="toggleSiteModal" tabindex="-1" aria-labelledby="toggleSiteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="toggleSiteForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="toggleSiteTitle">Toggle Page Status</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="page_id" id="toggleSiteId">
                    <p id="toggleSiteMessage">Are you sure you want to change the status of this page?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id="confirmToggleSite" class="btn btn-warning">Toggle Status</button>
                </div>
            </div>
        </form>
    </div>
</div>