<div class="modal fade" id="restoreOfficerModal" tabindex="-1" aria-labelledby="restoreOfficerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="restoreOfficerForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Restore Officer</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="officer_id" id="restoreOfficerId">
                    <p>Are you sure you want to restore this officer?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="confirmRestoreOfficer">Restore</button>
                </div>
            </div>
        </form>
    </div>
</div>