<div class="modal fade" id="restoreSchoolYearModal" tabindex="-1" aria-labelledby="restoreSchoolYearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="restoreSchoolYearForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Restore School Year</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="school_year_id" id="restoreSchoolYearId">
                    <p>Are you sure you want to restore this school year?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="confirmRestoreSchoolYear">Restore</button>
                </div>
            </div>
        </form>
    </div>
</div>
