<div class="modal fade" id="restoreAboutModal" tabindex="-1" aria-labelledby="restoreAboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="restoreAboutForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Restore About</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="restoreAboutId">
                    <p>Are you sure you want to restore this about information?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="confirmRestoreAbout">Restore</button>
                </div>
            </div>
        </form>
    </div>
</div>