<div class="modal fade" id="restoreUpdateModal" tabindex="-1" aria-labelledby="restoreUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="restoreUpdateForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Restore Organization Update</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="update_id" id="restoreUpdateId">
                    <p>Are you sure you want to restore this organization update?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="confirmRestoreUpdate">Restore</button>
                </div>
            </div>
        </form>
    </div>
</div>