<div class="modal fade" id="restoreTransactionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Restore Transaction</h5>
            </div>
            <form id="restoreTransactionForm">
                <div class="modal-body">
                    <p>Are you sure you want to restore this transaction?</p>
                    <input type="hidden" id="restoreTransactionId" name="report_id">
                    <input type="hidden" id="restoreTransactionType" name="transaction_type">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Confirm Restore</button>
                </div>
            </form>
        </div>
    </div>
</div>