<div class="modal fade" id="restoreFaqModal" tabindex="-1" aria-labelledby="restoreFaqModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="restoreFaqForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Restore FAQ</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="faq_id" id="restoreFaqId">
                    <p>Are you sure you want to restore this FAQ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="confirmRestoreFaq">Restore</button>
                </div>
            </div>
        </form>
    </div>
</div>