<div class="modal fade" id="restoreFileModal" tabindex="-1" aria-labelledby="restoreFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="restoreFileForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Restore File</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="file_id" id="restoreFileId">
                    <p>Are you sure you want to restore this file?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="confirmRestoreFile">Restore</button>
                </div>
            </div>
        </form>
    </div>
</div>